# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar bases de datos locales
*.sqlite3

# Ignorar entornos virtuales
venv/

# Ignorar configuraciones locales de IDE
.idea/


# Ignorar archivos de logs
*.log
